body > header h1,
.playground-header h1 {
	a {
		display: flex;
		flex-flow: row nowrap;
		text-transform: lowercase;

		&::before {
			content: '#?';
			font-weight: normal;
			opacity: 0.5;
		}
	}
}
