@font-face {
	font-display: swap;
	font-family: 'Iosevka Term';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/IosevkaTerm-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Iosevka Term';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/IosevkaTerm-Bold.woff2') format('woff2');
}

@keyframes caret-blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

:root {
	--dactylo-ff:
		'Iosevka Term', ui-monospace, 'SFMono-Regular', Menlo, Consolas, monospace;
	--dress-ff-mono: var(--dactylo-ff);
	--dress-ff-sans: var(--dactylo-ff);
}

article mark,
header h1 {
	text-transform: lowercase;
}

.dactylo--end {
	header h1::after {
		display: inline;
		content: '_';

		@media (prefers-reduced-motion: no-preference) {
			animation: caret-blink 2s steps(2, jump-none) infinite;
		}
	}
}

.demo-controls {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--dress-m-b) / 2) calc(var(--dress-p-i) / 2);
	list-style: none;
	padding-inline: 0;

	button,
	li,
	output {
		margin: 0;
	}
}
